p, span, button, ul, li, a {
    font-family: "Open Sans", sans-serif;
}

.root-div {
    background-color: rgb(229 231 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 10px;
}
.discount {
    color: rgb(185 28 28);
    font-weight: 500;
    font-family: sans-serif;
    margin-left: 1rem;
}

.help-contact{
margin: 0;
line-height: 1.5rem;
font-weight: 600;
display: flex;
align-items: center;
gap: 1rem;
}

.help-contact a {
text-decoration: none;
margin: 0;
color: black;
}

.main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.nav-link {
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-link span a{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
}
.sign-register {
    display: flex;
    justify-content: space-between;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin: 1.5rem;

}

.sign-register .in-register{
    padding-right: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
}


.sign-register a {
    font-weight: 600;
    color: rgb(5 150 105);
}

.shop-cart {
    position: relative;
    justify-content: center;
    display: inline-flex;
    border-radius: 9999px;
    align-items: center;
    padding: 0.5rem;
}

.fa-shopping-cart{
    color: rgb(55 65 81);
    width: 1.125em;
    font-size: 1rem;
    
    
}

.shop-cart-no {
    position: absolute;
    display: flex;
    color:white;
    top: -0.27rem;
    right: -0.25rem;
    height: 1.25rem;
    min-width: 0.8rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgb(0 137 65);
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
}

.section-main-one{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.hero-section{
    display: flex;
}
.hero-section-one {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}