p, span, button, ul, li, a {
    font-family: "Open Sans", sans-serif;
}

h1, .h1-style, .faq-title, h2, h3, h4, h5, h6, .heading-font {
    color: #171717;
    line-height: 1.2;
    margin-bottom: 10px;
}

h1, .h1-style, .faq-title, h2, h3, h4, h5, h6, .heading-font {
    font-family: "New York", Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    font-weight: 400;
    font-style: normal;
}


.root-div {
    background-color: rgb(229 231 235);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding: 10px;
}
.discount {
    color: rgb(185 28 28);
    font-weight: 500;
    font-family: sans-serif;
    margin-left: 1rem;
}

.help-contact{
margin: 0;
line-height: 1.5rem;
font-weight: 600;
display: flex;
align-items: center;
gap: 1rem;
}

.help-contact a {
text-decoration: none;
margin: 0;
color: black;
}

.main_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.nav-link {
display: flex;
justify-content: space-between;
align-items: center;
}
.nav-link span a{
    color: black;
    text-decoration: none;
    padding: 10px;
    font-weight: 700;
}
.sign-register {
    display: flex;
    justify-content: space-between;
    text-decoration-line: underline;
    text-transform: uppercase;
    margin: 1.5rem;

}

.sign-register .in-register{
    padding-right: 1.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.5rem;
}


.sign-register a {
    font-weight: 600;
    color: rgb(5 150 105);
}

.shop-cart {
    position: relative;
    justify-content: center;
    display: inline-flex;
    border-radius: 9999px;
    align-items: center;
    padding: 0.5rem;
}

.fa-shopping-cart{
    color: rgb(55 65 81);
    width: 1.125em;
    font-size: 1rem;
    
    
}

.shop-cart-no {
    position: absolute;
    display: flex;
    color:white;
    top: -0.27rem;
    right: -0.25rem;
    height: 1.25rem;
    min-width: 0.8rem;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgb(0 137 65);
    padding-left: 0.1rem;
    padding-right: 0.1rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
}

.section-main-one{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.hero-section{
    display: flex;
    justify-content:flex-start;
    height: 100vh;
}

.hero-text {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: #333;
}

.hero-text-style {
          color: #66ea75;
        }

.hero-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    padding: 4px;
}

.hero-section-two {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  overflow: hidden;
}

.hero-images {
    width: 80%;
    height: 100%;
  max-width: 1200px;
  overflow: hidden;
  position: relative;
}

.image-slide-swiper {
  display: flex;
   width: 600%; 
  height: 80%;
  animation: swipe 30s infinite linear;
  padding: 5px;
}

.into-text {
    font-family: Arial, Helvetica, sans-serif;
}

.shop-button {
    font-size: medium;
    background-color: #66ea75;
    color: #fff;
    border-radius: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 25px;
    padding-right: 25px;
    border: #66ea75;
}

.shop-button:hover {
    background-color: black;
}


/* .swiper-slide-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e2e0e0;
} */


.swiper-slide-img {
  flex: 0 0 16.666667%;
  height: 100%;
  display: flex;
   justify-content: center;
   align-items: center;
}

.image-swipe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Pagination dots */
.swiper-pagination-clickable {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 4px;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(5, 5, 5, 0.5);
}

.swiper-pagination-bullet:hover {
background-color: #fff;
}

.swiper-pagination-bullet.active {
  background: white;
}



@keyframes swipe {
  0%,   16.666%  { transform: translateX(0%); }
  16.667%, 33.333%  { transform: translateX(-16.666667%); }
  33.334%, 50% { transform: translateX(-33.333333%); }
  50.001%, 66.666% { transform: translateX(-50%); }
  66.667%, 83.333% { transform: translateX(-66.666667%); }
  83.334%, 100%    { transform: translateX(-83.333333%); }
}


/* SECTION C */




.container-category {
    overflow: inherit;
}

.collection-slider-row {
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
}


.container-not-mobile {
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.container-no-max{
max-width: none;
}

@media (max-width: 1300px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 1300px) {
    .hometitle {
        margin-bottom: 20px;
    }
}

.heading-font{
    color: #171717;
    line-height: 1.2;
    margin-bottom: 10px;

 }

.hometitle {
    transition: opacity .7s, transform .7s;
    opacity: 1;
    text-align: center;
    line-height: 1em;
    margin: 0 0 30px;
    font-size: 23px;
}

.has-paging__title {
    vertical-align: middle;
    text-align: center;
}
 
.collection-slider .has-paging .prev, .collection-slider .has-paging .next {
    font-size: 80%;
    line-height: 1em;
    margin: -10px 20px;
    padding: 10px;
    vertical-align: middle;
    display: inline-block !important;
}

svg.feather {
    fill: #fff;
    stroke: #171717;
}